@import "../../../assets/styles/index.scss";
.contact-section {
    display: flex;
    gap: 30px;
    width: 100%;
    margin-top: 40px;
    @include media-max(768px) {
        flex-direction: column;
        gap: 50px;
    }
    &__left {
        width: 45%;
        background: #242526;
        box-shadow: rgba(228, 206, 8, 0.719) 0px 1px 4px 0px;
        border-radius: 5px;
        padding: 20px;
        @include media-max(768px) {
            width: 100%;
        }
        &__item {
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: normal;
            color: #fafafa;
            width: 100%;
            display: flex;
            align-items: center;
            @include media-max(768px) {
                font-size: 16px;
            }
        }
        &__icon {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #7c725b;
            color: #ffb400;
            font-size: 20px;
            margin-right: 10px;
        }
        &__value {
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: normal;
            color: #fafafa;
            width: 100%;
            margin-left: 40px;
            opacity: 40%;
            margin-bottom: 20px;
        }
        &__map{
            height: 350px;
            @include media-max(768px) {
                height: 300px;
            }
        }
    }
    &__right {
        width: 55%;
        background: #242526;
        box-shadow: rgba(228, 206, 8, 0.719) 0px 1px 4px 0px;
        border-radius: 5px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media-max(768px) {
            width: 100%;
            padding: 40px;
        }
        &__input {
            height: 40px;
            width: 100%;
            border-radius: 8px;
            padding: 12px;
            outline: none;
            border: none;
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: normal;
            margin-bottom: 20px;
            &--area {
                height: 200px;
                resize: none;
                &::-webkit-scrollbar {
                    width: 12px;
                    &-track {
                        background: white;
                        border-radius: 4px;
                    }
        
                    &-thumb {
                        background: #f5d079b6 0% 0% no-repeat padding-box;
                        -webkit-border-radius: 30px;
                        border-radius: 30px;
                        opacity: 70%;
        
                        &:hover {
                            background: #ffb400 0% 0% no-repeat padding-box;
                        }
                    }
                }
            }
        }
        &__button {
            padding-left: 10px;
            padding-right: 10px;

            height: 51px;
            background: #ffb400;
            border-radius: 5px;
            border: none;
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            margin-top: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            &__icon {
                font-size: 18px;
                margin-left: 5px;
                color: white;
            }
        }
    }
}
