@import '../src/assets/styles/index.scss';

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 1px solid green;
    display: flex;
    background: #18191A;

    &__left{
       width: 305px;
       border: 1px solid red;
    }
    &__content{
        width: 100%;
        border: 1px solid yellow;
        margin-left: 30px;
        margin-right: 27px;
    }
    &__right{
        width: 108px;
        border: 1px solid orangered;
    }
}