$body-bg:#18191A;
$scrollbar-thumb-bg:#6c6d6e;
$theme-bg:#ffb400;
$sidebar-bg:#242526;
$light-gray-bg:#767676;
$icon-off-bg:#3a3b3c;
$text-white:#fafafa;
$skill-card-border:#7e8083;
$contact-icon-bg:#7c725b;
$carousel-hover-bg:#ffb30044;

$header-background:#F0FFF0;
$header-text-color: #56548C;
$text-color-black:#000000;
$text-color-grey:#6C6B6B;
$text-color-bold:#413960;
$card-text-color:#413960;
$card-subtitle-color: #585859;
$card-color:#F8FFFB;

$color-green:#21B573;
$color-white:#FFFFFF;
$color-orange:#FD511A;
$color-off-orange:#dbac0f;
$color-light-green:#7eb942;
$color-negative: #EA3829;

$box-shadow-blog-card-hover:rgba(228, 206, 8, 0.719) 0px 1px 4px 0px;
$box-shadow-right-bar:rgba(47, 122, 249, 0.1);
$box-shadow-left-bar:rgba(0, 0, 0, 0.15);
$box-shadow-hero:0px 1px 2px 0px rgba(255, 136, 0, 0.7),
0px 1px 2px 0px rgba(255, 153, 0, 0.7),
0px 1px 2px 0px rgba(255, 174, 0, 0.7),
0px 1px 10px 0px rgba(255, 196, 0, 0.7); 