@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;400&display=swap');

$font-family-rubik: 'Rubik', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-inter: 'Inter', sans-serif;

$font-family-hanken: 'Hanken Grotesk' , sans-serif;