.right-bar {
    width: 100%;
    height: 1315px;
    background-color: #242526;
    box-shadow: 4px 0px 10px rgba(47, 122, 249, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    &__moon-icon {
        font-size: 25px;
        color: #ffffff;
        transform: rotate(210deg);
        margin-top: 42px;
    }
    &__login-icon {
        font-size: 25px;
        color: #ffffff;
        margin-top: 40px;
        margin-right: 10px;
        cursor: pointer;
        
    }
    &__link-div {
        margin-top: 175px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 43px;
    }
    &__link-item{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 40px;
        height: 40px;
        
        &:hover{
            .right-bar__link-hover-text{
               display: block;
            }
        }
    }
    &__link-icon {
        width: 40px;
        height: 40px;
        background: #767676;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #3a3b3c;
        &:hover {
            background: #ffb400;
            color: #ffffff;
        }
        &--active {
            background: #ffb400;
            color: #ffffff;
        }
    }
    &__link-hover-text {
        display: none;
        min-width: 40px;
        background: white;
        padding: 6px 6px;
        border-radius: 2px;
        position: relative;
        bottom: 95px;
        text-align: center;
        &::after{
            content: '';
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 18px solid white;
            position: absolute;
            top:100%;
            right: 35%;
        }
    }
}
.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  
    .modal-content {
      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 400px;
      text-align: center;
  
      h2 {
        margin-top: 0;
      }
  
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        label {
          margin-top: 10px;
          font-size: 16px;
          font-weight: bold;
        }
  
        input {
          margin-top: 5px;
          padding: 10px;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          background-color: #f5f5f5;
          width: 100%;
  
          &:focus {
            outline: none;
            box-shadow: 0px 0px 5px #888;
          }
        }
  
        button[type='submit'] {
          margin-top: 10px;
          padding: 10px;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          font-weight: bold;
          background-color: #008cba;
          color: #fff;
          cursor: pointer;
  
          &:hover {
            background-color: #006380;
          }
        }
      }
    }
  }

